<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
    <!-- Basic Card Example -->
    <div class="row">
        {{list_view|safe}}    
    </div>

</div>
<!-- /.container-fluid -->

<script>
    content = 'concept'
    index = 0
    i = 0
    lists = document.getElementsByClassName('nav-item')
    for(item of lists){
        item.setAttribute("class", "nav-item")
        if(item.innerText.trim().toLowerCase() == content){
            index = i
        }
        i++
    }
    lists[index].setAttribute("class", "nav-item active")
</script>