<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
    <!-- Basic Card Example -->
    <div class="row">
        <div class="card shadow mr-3 mb-4" style="width: 18rem; padding-right:0; padding-left:0;">
            <img class="card-img-top" src="/static/img/target.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">휴식</h5>
                <p class="card-text">바쁜 도심에서 벗어나 편안한 휴식을 즐기고 싶은 당신에게 추천해드립니다.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card shadow mr-3 mb-4" style="width: 18rem;padding-right:0; padding-left:0;">
            <img class="card-img-top" src="/static/img/target.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">휴식</h5>
                <p class="card-text">바쁜 도심에서 벗어나 편안한 휴식을 즐기고 싶은 당신에게 추천해드립니다.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card shadow mr-3 mb-4" style="width: 18rem;padding-right:0; padding-left:0;">
            <img class="card-img-top" src="/static/img/target.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">휴식</h5>
                <p class="card-text">바쁜 도심에서 벗어나 편안한 휴식을 즐기고 싶은 당신에게 추천해드립니다.</p>
                <a href="#" class="btn btn-primary">Go</a>
            </div>
        </div>
    
    </div>

</div>
<!-- /.container-fluid -->

<script>
    lists = document.getElementsByClassName('nav-item')
    for (item of lists) {
        item.setAttribute("class", "nav-item")
    }
    lists[4].setAttribute("class", "nav-item active")
</script>