<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<style>
.hidden{
  display:none;
  visibility:hidden;
}
</style>
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-1">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">게시판</a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            {% if tag == "free" %}
                            <a class="nav-link active" href="/noticeboard/free">자유</a>
                            {% else %}
                            <a class="nav-link" href="/noticeboard/free">자유</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if tag == "review" %}
                            <a class="nav-link active" href="/noticeboard/review">리뷰</a>
                            {% else %}
                            <a class="nav-link" href="/noticeboard/review">리뷰</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if tag == "tip" %}
                            <a class="nav-link active" href="/noticeboard/tip">팁</a>
                            {% else %}
                            <a class="nav-link" href="/noticeboard/tip">팁</a>
                            {% endif %}
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <a id="a_write" href="/noticeboard/write" class="nav-link">새 글쓰기</a>
                    </span>

                </div>
            </nav>
        </div>
        <div class="card-body">
            <!-- Page Heading -->
            <!-- 리스트 객체 -->
            <div class="table-responsive">
                <table id="table" data-toggle="table" data-filter-control="true" data-show-export="true"
                    data-click-to-select="true" data-toolbar="#toolbar" class="table-inverse table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-field="title" data-filter-control="input" class="text-center col-md-7">제목</th>
                            <th data-field="author" data-filter-control="input" class="text-center col-md-2">글쓴이</th>
                            <th data-field="time" data-sortable="true" class="text-center col-md-1">작성일</th>
                            <th data-field="view" data-sortable="true" class="text-center col-md-1">조회수</th>
                            <th data-field="rate" data-sortable="true" class="text-center col-md-1">추천수</th>
                            <th data-class="hidden"></th>
                        </tr>
                    </thead>
                    <tbody id="container">
                        {% for post in table_contents %}
                        <tr class="table_content">
                            <td class="text-left">{{post.post_title}}</td>
                            <td class="text-center">{{post.post_user_nick}}</td>
                            <td class="text-center">{{post.post_time}}</td>
                            <td class="text-center">{{post.post_view}}</td>
                            <td class="text-center">{{post.post_recommend}}</td>
                            <td>{{post._id}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
<script>    
    a_write.href = a_write.href+"?type="+window.location.href.split('/')[window.location.href.split('/').length-1]

    content = 'notice board'
    index = 0
    i = 0
    lists = document.getElementsByClassName('nav-item')
    for(item of lists){
        item.setAttribute("class", "nav-item")
        if(item.innerText.trim().toLowerCase() == content){
            index = i
        }
        i++
    }
    lists[index].setAttribute("class", "nav-item active")

    //exporte les données sélectionnées
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

    $('#table').bootstrapTable({
        pagination: true,
        pageSize: 10, //your page size here
    });

    var td = $("table");

    $(td).on("click", "td", function () {
        let target = $(this).parent().children()[5].innerText
        location.href = '/noticeboard/free/'+target
    });

</script>