<main role="main">

    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16" style="margin-left: 20px;">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </a>

    <div style="margin-left: 20px; margin-top: 40px;">

        <!-- Three columns of text below the carousel -->
        <div class="row justify-content-center" style="justify-content: space-between; margin-top: -30px;">
            <div class="card shadow mr-3 mb-4 pt-2" style="width: 20rem; margin-right:30px!important">
                <img class="card-img-top rounded-circle" style="padding: 20px; aspect-ratio: 1/1;" src="../../static/img/cw.png"/>
                <div class="card-body d-flex flex-column pt-0">
                    <blockquote class="blockquote text-center">
                        <h2>김찬우</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer text-center">
                       Main developer
                    </figcaption>
                    <ul>
                        <li>서울시립대학교 통계학과</li>
                        <li>프론트엔드, 백엔드 담당</li>
                        <li>프로젝트 총괄</li>
                    </ul>
                    <a class="btn btn-secondary mt-auto" href="https://github.com/uowol" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16"
                            style="margin-bottom: 3px;">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg> 
                        GitHub »
                    </a>
                </div>
            </div>
            <div class="card shadow mr-3 mb-4 pt-2" style="width: 20rem; margin-right:30px!important">
                <img class="card-img-top rounded-circle" style="padding: 20px; aspect-ratio: 1/1;" src="../../static/img/pjs.png"/>
                <div class="card-body d-flex flex-column pt-0">
                    <blockquote class="blockquote text-center">
                        <h2>박재성</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer text-center">
                       Database manager
                    </figcaption>
                    <ul>
                        <li>서울시립대학교 통계학과</li>
                        <li>데이터베이스 관리 담당</li>
                        <li>데이터 전처리 담당</li>
                        <li>프론트엔드, 백엔드 보조</li>
                    </ul>
                    <a class="btn btn-secondary mt-auto" href="https://github.com/uowol" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16"
                            style="margin-bottom: 3px;">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg> 
                        GitHub »
                    </a>
                </div>
            </div>
            <div class="card shadow mr-3 mb-4 pt-2" style="width: 20rem; margin-right:30px!important">
                <img class="card-img-top rounded-circle" style="padding: 20px; aspect-ratio: 1/1;" src="../../static/img/js.png"/>
                <div class="card-body d-flex flex-column pt-0">
                    <blockquote class="blockquote text-center">
                        <h2>송준섭</h2>
                    </blockquote>
                    <figcaption class="blockquote-footer text-center">
                       Chatbot manager
                    </figcaption>
                    <ul>
                        <li>서울시립대학교 통계학과</li>
                        <li>챗봇 담당</li>
                        <li>로그처리 및 시각화 담당</li>
                    </ul>
                    <a class="btn btn-secondary mt-auto" href="https://github.com/uowol" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16"
                            style="margin-bottom: 3px;">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg> 
                        GitHub »
                    </a>
                </div>
            </div>
        </div><!-- /.row -->

    </div>

</main>
<script>
    lists = document.getElementsByClassName('nav-item')
    for (item of lists) {
        item.setAttribute("class", "nav-item")
    }
</script>