<main role="main">

    <section class="jumbotron text-center" style="
      border-radius: 0;
      margin-top: -22px;
      background-image: URL(https://cdn.travie.com/news/photo/first/201705/img_19694_12.jpg);
      background-size: cover;
      background-position: center;
    ">
        <div class="container">
            <figure class="text-center">
                <blockquote class="blockquote" style="color:whitesmoke">
                    <h1><em>TOUR-LIST</em></h1>
                </blockquote>
                <figcaption class="blockquote-footer" style="color: white;">
                    <h5 style="color:aliceblue"><em>Guide to traveling in Korea</em></h5>
                </figcaption>
            </figure>
        </div>
    </section>

    <div style="padding-top: 0px;">
        <div class="container" style="padding-top: 0px;">



        </div>
    </div>

</main>
<script>
    lists = document.getElementsByClassName('nav-item')
    for (item of lists) {
        item.setAttribute("class", "nav-item")
    }
</script>