<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- <div id="toolbar">
        <a href="#" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">평균 체류시간</span>
        </a>


    </div> -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">여행지 검색</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true"
                    data-click-to-select="true" data-toolbar="#toolbar" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for column in data_columns %}
                            <th data-field="{{column}}">{{column}}</th>
                            {% endfor %}
                            <!-- <th data-field="destination" data-filter-control="input" data-sortable="true">관광지명</th>
                            <th data-field="address" data-filter-control="input">주소</th>
                            <th data-field="type" data-filter-control="select" data-sortable="true">분류</th>
                            <th data-field="search_num" data-sortable="true">검색수</th> -->
                        </tr>
                    </thead>
                    <tbody id="container">
                        {% for items in data_values %}
                        <tr>
                            {% for item in items %}
                            <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <!-- {{elements_data_values}} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script>   
    $('#table').bootstrapTable({
        pagination: true,
        pageSize: 10, //your page size here
    });

    content = 'search'
    index = 0
    i = 0
    lists = document.getElementsByClassName('nav-item')
    for(item of lists){
        item.setAttribute("class", "nav-item")
        if(item.innerText.trim().toLowerCase() == content){
            index = i
        }
        i++
    }
    lists[index].setAttribute("class", "nav-item active")

    //exporte les données sélectionnées
    // var $table = $('#table');
    // $(function () {
    //     $('#toolbar').find('select').change(function () {
    //         $table.bootstrapTable('refreshOptions', {
    //             exportDataType: $(this).val()
    //         });
    //     });
    // })

    // var trBoldBlue = $("table");

    // $(trBoldBlue).on("click", "tr", function () {
    //     $(this).toggleClass("bold-blue");
    // });
</script>