<!-- Latest compiled and minified JavaScript -->
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<style>
/* The toast_view - position it at the bottom and in the middle of the screen */
#toast_view {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the toast_view */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the toast_view when clicking on a button (class added with JavaScript) */
#toast_view.show {
  visibility: visible; /* Show the toast_view */
  /* Add animation: Take 0.5 seconds to fade in and out the toast_view.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast_view in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>

<!-- Toast View -->
<div id="toast_view">관광 데이터를 불러오는 중입니다. 잠시만 기다려주세요...</div>

<script>   
    // Add the "show" class to DIV
    toast_view.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){
        toast_view.className = toast_view.className.replace("show", ""); 
    }, 3000);
</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- <div id="toolbar">
        <a href="#" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">평균 체류시간</span>
        </a>


    </div> -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">여행지 검색</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true"
                    data-click-to-select="true" data-toolbar="#toolbar" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- {% for column in data_columns %}
                            <th data-field="{{column}}" data-filter-control="input" data-sortable="true">{{column}}</th>
                            {% endfor %} -->
                            <th class="text-center col-md-3" data-field="destination" data-filter-control="input" data-sortable="true">관광지명</th>
                            <th class="text-center col-md-4" data-field="address" data-filter-control="input">주소</th>
                            <th class="text-center col-md-2" data-field="region" data-filter-control="select">지역</th>
                            <th class="text-center col-md-1" data-field="search_num" data-sortable="true">합산 검색 수</th>
                            <th class="text-center col-md-2" data-field="tag" data-filter-control="select">태그</th>
                        </tr>
                    </thead>
                    <tbody id="container">
                        {% for items in data_values %}
                        <tr>
                            <td id="td_dest">{{items[0]}}</td>
                            <td>{{items[1]}}</td>
                            <td>{{items[2]}}</td>
                            <td>{{items[3]}}</td>
                            <td>{{items[4]}}</td>
                        </tr>
                        {% endfor %}
                        <!-- {{elements_data_values}} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<script>   

    content = 'search'
    index = 0
    i = 0
    lists = document.getElementsByClassName('nav-item')
    for(item of lists){
        item.setAttribute("class", "nav-item")
        if(item.innerText.trim().toLowerCase() == content){
            index = i
        }
        i++
    }
    lists[index].setAttribute("class", "nav-item active")

    //exporte les données sélectionnées
    // var $table = $('#table');
    // $(function () {
    //     $('#toolbar').find('select').change(function () {
    //         $table.bootstrapTable('refreshOptions', {
    //             exportDataType: $(this).val()
    //         });
    //     });
    // })

    // var trBoldBlue = $("table");

    $('#table').bootstrapTable({
        pagination: true,
        pageSize: 10, //your page size here
    });

    $("table").on("click", "td", function () {
        // $(this).toggleClass("bold-blue");
        // window.location.href = '/'+td_dest.innerText;
        let target = $(this).parent().children()[0].innerText
        location.href = '/detail?dest='+target
    });
</script>