<!DOCTYPE html>
<html lang="kr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>{{params['site_name']}}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" /> -->
    <!-- MDB -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script> -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{{params['site_name']}}</div>
            </a>

            <!-- Nav Item - Chatbot -->
            <li class="nav-item">
                <a href="javascript:show_chatting();" class="nav-link">
                    <i class="fas fa-robot    "></i>
                    <span>Chatbot</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- <li class="nav-item active">
                <a href="/dashboard" class="nav-link">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li> -->

            <!-- Divider -->
            <!-- <hr class="sidebar-divider my-0"> -->

            <!-- Nav Item - Chart -->
            <!-- <li class="nav-item">
                <a href="/charts" class="nav-link">
                    <i class="fas fa-chart-area    "></i>
                    <span>Charts</span>
                </a>
            </li> -->

            <!-- Nav Item - Region -->
            <li class="nav-item">
                <a href="/region" class="nav-link">
                    <i class="fas fa-layer-group    "></i>
                    <span>Region</span>
                </a>
            </li>

            <!-- Nav Item - Concept -->
            <li class="nav-item">
                <a href="/concept" class="nav-link">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    <span>Concept</span>
                </a>
            </li>

            <!-- Nav Item - Notice Board -->
            <li class="nav-item">
                <a href="/noticeboard" class="nav-link">
                    <i class="fas fa-book-open    "></i>
                    <span>Notice Board</span>
                </a>
            </li>

            <!-- Nav Item - Search -->
            <li class="nav-item">
                <a href="/search?total=1" class="nav-link">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span>Search</span>
                </a>
            </li>

            <!-- Nav Item - Votes -->
            <!-- <li class="nav-item">
                <a href="/votes" class="nav-link">
                    <i class="fas fa-vote-yea    "></i>
                    <span>Votes</span>
                </a>
            </li> -->

            <!-- Divider
            <hr class="sidebar-divider"> -->

            <!-- Heading -->
            <!-- <div class="sidebar-heading">
                여행지 추천
            </div> -->

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="/buttons">Buttons</a>
                        <a class="collapse-item" href="/cards">Cards</a>
                    </div>
                </div>
            </li> -->

            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="/utilities-color">Colors</a>
                        <a class="collapse-item" href="/utilities-border">Borders</a>
                        <a class="collapse-item" href="/utilities-animation">Animations</a>
                        <a class="collapse-item" href="/utilities-other">Other</a>
                    </div>
                </div>
            </li> -->

            <!-- Divider -->
            <!-- <hr class="sidebar-divider"> -->

            <!-- Heading -->
            <!-- <div class="sidebar-heading">
                Addons
            </div> -->

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="/login">Login</a>
                        <a class="collapse-item" href="/register">Register</a>
                        <a class="collapse-item" href="/forgot-password">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="/404">404 Page</a>
                        <a class="collapse-item" href="/blank">Blank Page</a>
                    </div>
                </div>
            </li> -->

            <!-- Nav Item - Charts -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/_charts">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li> -->

            <!-- Nav Item - Tables -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li> -->

            <!-- Divider -->
            <!-- <hr class="sidebar-divider d-none d-md-block"> -->

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" onclick="
                    if(sidebar.style.visibility=='hidden') sidebar.style.visibility='visible'
                    else sidebar.style.visibility='hidden'
                "></button>
            </div>

            <!-- Sidebar Message -->
            <div id="sidebar" class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="/static/img/undraw_rocket.svg" alt="...">
                <p id="container_tip" style="color: #fff;" class="text-center mb-2">{{chatbot_talk}}</p>
                <!-- <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro"></a> -->
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    {% if false %}
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <!-- <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a> -->
                        <!-- Dropdown - Messages -->
                        <!-- <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li> -->

                        {% if params['current_user'].is_authenticated %}
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link" id="userDropdown">
                                <span id="user_nick" class="mr-2 d-none d-lg-inline text-gray-600">
                                    {{session['user_nick']}}
                                </span>
                                <img src="/static/avatars/1.jpg" class="img-profile rounded-circle" alt="">
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item no-arrow">
                            <a class="nav-link" href="/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-500"></i>
                                <span id="user_nick" class="mr-2 d-none d-lg-inline text-gray-600">
                                    Logout
                                </span>
                            </a>
                        </li>

                        {% elif content != "login.html" %}
                        <li class="nav-item no-arrow">
                            <a class="nav-link" href="/login">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-500"></i>
                                <span id="user_nick" class="mr-2 d-none d-lg-inline text-gray-600">
                                    Login
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                {% include content ignore missing %}
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Chatbot Button-->

    <a class="rounded btn btn-warning flex-column align-items-center justify-content-center"
        style="display:flex; width:100px; height:100px; position:fixed; left:20px; bottom: 20px;"
        href="javascript:show_chatting();">
        <i class="fas fa-robot fa-2x"></i>
        chatbot
    </a>

    <!-- {% if not chatbot_talk == "" %}
    <div class="talk-bubble tri-right left-in" id="chatbot-talk"
        style="display:flex; position:fixed; left:120px; bottom: -20px;"
        onclick="document.getElementById('chatbot-talk').style.visibility = 'hidden'">
        <div class="talktext">
            <p>{{chatbot_talk}}</p>
        </div>
    </div>
    {% endif %} -->

    <span style="visibility:hidden; position:fixed; bottom:0; right:0; width: 33.333%;
                 min-width: 350px;" id="chatbot-chatting">

        <section style="background-color: transparent; ">
            <div class="">

                <div class="">
                    <div class="">

                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center p-3"
                                style="border-top: 4px solid #ffa900;">
                                <h5 class="mb-0">Chat messages</h5>
                                <div class="d-flex flex-row align-items-center">
                                    <!-- <span class="badge bg-warning me-3">20</span> -->
                                    <a href="javascript:hide_chatting();">
                                        <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                                        <!-- <i class="fas fa-comments me-3 text-muted fa-xs"></i> -->
                                    </a>
                                    <a href="javascript:cancel_chatting();">
                                        <i class="fas fa-times text-muted fa-xs"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="divChat" class="card-body" data-mdb-perfect-scrollbar="true"
                                style="overflow: auto; position: relative; height: 400px">
                                {{session['chat_list']|safe}}
                            </div>
                            <form action='#' method='' onSubmit="return false;">
                                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                    <div class="input-group mb-0">
                                        <input id="inputChat" name="inputChat" type="text" class="form-control"
                                            placeholder="Type message" aria-label="Recipient's username"
                                            aria-describedby="button-addon2" style="height:40.8px;" />
                                        <input class="btn btn-warning"
                                            onclick="send_chat(inputChat.value); inputChat.value=''" type="submit"
                                            id="button-addon2" value="보내기" style="padding-top: .55rem;">
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </span>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        chat_list = `{{session['chat_list']|safe}}`
        date_time = "23 Jan 2:05 pm"
        name_bot = "bot"
        connect_to = '127.0.0.1'


        // js functions
        String.prototype.format = function () {
            var formatted = this;
            for (var arg in arguments) {
                formatted = formatted.replace("{" + arg + "}", arguments[arg]);
            }
            return formatted;
        };
        Object.prototype.toString = function () {
            res = ''
            for (let key in this) {
                res += key + ':' + this[key]
                res += ', '
            }
            return res
        }
        window.onkeydown = (e) => {
            if (e.key == 'Escape') hide_chatting();
        };


        // tip random 제공
        tips = [
            "<strong>{{params['site_name']}}</strong> is<br><strong>fun</strong>, <strong>cool</strong> and <strong>sexy</strong>.",
            "<strong>Chatbot</strong>을 이용하면<br>편리하게 여행지를<br>추천받을 수 있습니다.",
            "<strong>Noticeboard</strong>에선<br>다른 사람들과 소중한<br>경험을 공유할 수 있습니다."
        ]
        if (!container_tip.innerHTML) container_tip.innerHTML = tips[Math.floor(Math.random() * tips.length)]


        // name_user = "bot"
        function chat_question(text) {
            try {
                if ("{{session['user_nick']}}" != '') {
                    name = "{{session['user_nick']}}"
                } else {
                    name = "anonymous"
                }
            }
            catch {
                name = "anonymous"
            }

            return `<div class="d-flex justify-content-between">
                        <p class="small mb-1 text-muted">{0}</p>
                        <p class="small mb-1">{1}</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                        <div>
                            <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">{2}</p>
                        </div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                            alt="avatar 1" style="width: 45px; height: 100%;">
                    </div>`.format("2022/08/11 08:23", name, text)
        }
        function chat_answer(text) {
            try {
                if ("{{session['user_nick']}}" != '') {
                    name = "{{session['user_nick']}}"
                } else {
                    name = "anonymous"
                }
            }
            catch {
                name = "anonymous"
            }

            return `<div class="d-flex justify-content-between">
                        <p class="small mb-1">{0}</p>
                        <p class="small mb-1 text-muted">{1}</p>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <div style="min-width:45px; width: 45px;background-color: #f6c23e;border-radius: 50%;height: 45px;display: flex;align-items: center;justify-content: center;">
                            <i class="fas fa-robot fa-2x" style="color: white; padding-bottom:5px"></i>
                        </div>
                        <div>
                            <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">{2}</p>
                        </div>
                    </div>`.format("2022/08/11 08:23", name_bot, text)
        }
        function input_image(src) {
            return `<image style="max-width:100%; height:auto;" src='{0}'/>`.format(src)
        }
        function input_button(text, callback_method, height = '24') {
            return `<button class="btn btn-light rounded-3"
                            style="width:31%; height:{2}%; font-size: 15px; margin: 3px;"
                            onclick="{0}">
                            {1}</button>`.format(callback_method, text)
        }
        function show_chatting() {
            document.getElementById('chatbot-chatting').style.visibility = 'visible';
            divChat.scrollTop = divChat.scrollHeight
            inputChat.focus()
        }
        function hide_chatting() {
            document.getElementById('chatbot-chatting').style.visibility = 'hidden';
        }
        function cancel_chatting() {
            hide_chatting()
            fetch("http://" + connect_to + ":5000/chatbot", {
                method: "DELETE"
            }).then((response) => {
                console.log(response.json())
                if (response.status == 200) {
                    chat_list = ''
                    divChat.innerHTML = ''
                }
            });
        }


        // 서버와 통신 파트
        function send_chat(text) {
            if (text == "" || text == undefined) return false;

            chat_list += chat_question(text)    // 사용자 질문 말풍선 추가
            divChat.innerHTML = chat_list       // 화면에 띄움

            // 답변 받아오기
            fetch("http://" + connect_to + ":5002/answer?question=" + text)
                .then((response) => response.json())
                .then((data) => {
                    let answer = data['body'].split('|')
                    for (let i in answer) {
                        answer[i] = answer[i].trim()
                        let tag = answer[i].split(']')[0]
                        let content = answer[i].split(']')[1]

                        // 텍스트의 경우
                        if (tag == "text") {
                            chat_list += chat_answer(content)
                        }

                        // 이미지가 첨부되었을 경우
                        if (tag == "img") {
                            // 이미지 추가
                            chat_list += chat_answer(input_image("https://www.filmsnewsfeed.com/images/article/pokemon-why-pikachu-never-evolved-main.webp"))
                        }

                        // 버튼이 첨부되었을 경우
                        if (tag == "btn") {
                            // 선택지 추가
                            text = content.split('@')[0]
                            callback_method = content.split('@')[1]
                            chat_list += input_button(text, callback_method)
                        }

                    }
                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": text
                        })
                    })
                });
        }

        function send_followed_chat(intent, ...args) {
            chat_list += chat_answer(args[0] + ':+' + args[1])
            divChat.innerHTML = chat_list
            console.log(args)

            // 답변 받아오기
            fetch("http://" + connect_to + ":5002/answer/follow?intent=" + intent + "&args=" + args)
                .then((response) => response.json())
                .then((data) => {
                    let answer = data['body'].split('|')
                    for (let i in answer) {
                        answer[i] = answer[i].trim()
                        let tag = answer[i].split(']')[0]
                        let content = answer[i].split(']')[1]

                        // 텍스트의 경우
                        if (tag == "text") {
                            chat_list += chat_answer(content)
                        }

                        // 이미지가 첨부되었을 경우
                        if (tag == "img") {
                            // 이미지 추가
                            chat_list += chat_answer(input_image("https://www.filmsnewsfeed.com/images/article/pokemon-why-pikachu-never-evolved-main.webp"))
                        }

                        // 버튼이 첨부되었을 경우
                        if (tag == "btn") {
                            // 선택지 추가
                            text = content.split('@')[0]
                            callback_method = content.split('@')[1]
                            chat_list += input_button(text, callback_method)
                        }

                    }
                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": args[0] + ':+' + args[1]
                        })
                    })
                });
        }

        function followed_chat(text, intent, ...args) {
            chat_list += chat_answer(text)
            divChat.innerHTML = chat_list

            if (intent == 'recommend') {
                if (args[0] == '도') {
                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청
                    tmp_regions = ['특별/광역시', '경기도', '강원도', '충청북도', '충청남도', '경상북도', '경상남도', '전라북도', '전라남도', '제주도']
                    for (let region of tmp_regions) {
                        chat_list += input_button(region, `send_followed_chat('${intent}','${'도'}','${region}', '')`)
                    }

                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": text
                        })
                    })
                }
                if (args[0] == '시/군') {

                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청

                    let _region = ''
                    for (item of args[1].split("_")) {
                        if (item.split("=")[0] == '도')
                            _region = item.split('=')[1]
                    }

                    fetch("http://" + connect_to + ":5004/region", {
                        method: "GET"
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            region_dict = data.body

                            if (_region == "제주도") {
                                tmp_regions = ['제주시', '서귀포시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "특별/광역시") {
                                tmp_regions = ['서울특별시', '인천광역시', '부산광역시', '대구광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경기도") {
                                tmp_regions = ['가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시 분당구', '성남시 수정구', '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군', '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구', '용인시 처인구', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "강원도") {
                                tmp_regions = ['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "충청북도") {
                                tmp_regions = ['괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '충주시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "충청남도") {
                                tmp_regions = ['계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시 동남구', '천안시 서북구', '청양군', '태안군', '홍성군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경상북도") {
                                tmp_regions = ['경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시 남구', '포항시 북구']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경상남도") {
                                tmp_regions = ['거제시', '거창군', '고성군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구', '창원시 의창구', '창원시 진해구', '통영시', '하동군', '함안군', '함양군', '합천군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "전라북도") {
                                tmp_regions = ['고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "전라남도") {
                                tmp_regions = ['강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }

                            divChat.innerHTML = chat_list
                            divChat.scrollTop = divChat.scrollHeight

                            // 현재까지의 채팅 세션에 저장하기
                            fetch("http://" + connect_to + ":5000/chatbot", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    "chat_list": chat_list,
                                    "last_chat": text
                                })
                            })
                        });
                    // console.log(region_dict["강원도"][0])
                }
                if (args[0] == '출발지') {

                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청

                    tmp_regions = ['특별/광역시', '경기도', '강원도', '충청북도', '충청남도', '경상북도', '경상남도', '전라북도', '전라남도', '제주도']
                    for (let destination of tmp_regions) {
                        chat_list += input_button(destination, `send_followed_chat('${intent}','${args[0]}','${destination}', '')`)
                    }

                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": text
                        })
                    })
                }
                if (args[0] == '세부출발지') {

                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청

                    let _region = ''
                    for (item of args[1].split("_")) {
                        if (item.split("=")[0] == '출발지')
                            _region = item.split('=')[1]
                    }

                    fetch("http://" + connect_to + ":5004/region", {
                        method: "GET"
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            region_dict = data.body

                            if (_region == "제주도") {
                                tmp_regions = ['제주시', '서귀포시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "특별/광역시") {
                                tmp_regions = ['서울특별시', '인천광역시', '부산광역시', '대구광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경기도") {
                                tmp_regions = ['가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시 분당구', '성남시 수정구', '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시', '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군', '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구', '용인시 처인구', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "강원도") {
                                tmp_regions = ['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "충청북도") {
                                tmp_regions = ['괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구', '충주시']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "충청남도") {
                                tmp_regions = ['계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시 동남구', '천안시 서북구', '청양군', '태안군', '홍성군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경상북도") {
                                tmp_regions = ['경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시 남구', '포항시 북구']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "경상남도") {
                                tmp_regions = ['거제시', '거창군', '고성군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구', '창원시 의창구', '창원시 진해구', '통영시', '하동군', '함안군', '함양군', '합천군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "전라북도") {
                                tmp_regions = ['고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구', '정읍시', '진안군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }
                            if (_region == "전라남도") {
                                tmp_regions = ['강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군']
                                for (let region of tmp_regions) {
                                    chat_list += input_button(region, `send_followed_chat('${intent}','${args[0]}','${region}', '${args[1]}')`)
                                }
                            }

                            divChat.innerHTML = chat_list
                            divChat.scrollTop = divChat.scrollHeight

                            // 현재까지의 채팅 세션에 저장하기
                            fetch("http://" + connect_to + ":5000/chatbot", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    "chat_list": chat_list,
                                    "last_chat": text
                                })
                            })
                        });


                }
                if (args[0] == '동반유형') {

                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청

                    tmp_types = ['가족', '친구', '애견']
                    for (let type of tmp_types) {
                        chat_list += input_button(type, `send_followed_chat('${intent}','${args[0]}','${type}', '${args[1]}')`)
                    }

                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": text
                        })
                    })
                }
                if (args[0] == '테마') {

                    // 여행지 데이터베이스 관리 서버에 여행지 정보 요청

                    tmp_themes = ['힐링여행', '한달살기', '우정여행']
                    for (let theme of tmp_themes) {
                        chat_list += input_button(theme, `send_followed_chat('${intent}','${args[0]}','${theme}', '${args[1]}')`)
                    }

                    divChat.innerHTML = chat_list
                    divChat.scrollTop = divChat.scrollHeight

                    // 현재까지의 채팅 세션에 저장하기
                    fetch("http://" + connect_to + ":5000/chatbot", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            "chat_list": chat_list,
                            "last_chat": text
                        })
                    })
                }
            }

            divChat.innerHTML = chat_list
            divChat.scrollTop = divChat.scrollHeight

            // 현재까지의 채팅 세션에 저장하기
            fetch("http://" + connect_to + ":5000/chatbot", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    "chat_list": chat_list,
                    "last_chat": text
                })
            })

        }

    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

</body>

</html>