:root {
    --bs-blue: #4e73df;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #e74a3b;
    --bs-orange: #fd7e14;
    --bs-yellow: #f6c23e;
    --bs-green: #1cc88a;
    --bs-teal: #20c9a6;
    --bs-cyan: #36b9cc;
    --bs-white: #fff;
    --bs-gray: #858796;
    --bs-gray-dark: #5a5c69;
    --bs-gray-100: #f8f9fc;
    --bs-gray-200: #eaecf4;
    --bs-gray-300: #dddfeb;
    --bs-gray-400: #d1d3e2;
    --bs-gray-500: #b7b9cc;
    --bs-gray-600: #858796;
    --bs-gray-700: #6e707e;
    --bs-gray-800: #5a5c69;
    --bs-gray-900: #3a3b45;
    --bs-primary: #4e73df;
    --bs-secondary: #858796;
    --bs-success: #1cc88a;
    --bs-info: #36b9cc;
    --bs-warning: #f6c23e;
    --bs-danger: #e74a3b;
    --bs-light: #f8f9fc;
    --bs-dark: #3a3b45;
    --bs-primary-rgb: 78, 115, 223;
    --bs-secondary-rgb: 133, 135, 150;
    --bs-success-rgb: 28, 200, 138;
    --bs-info-rgb: 54, 185, 204;
    --bs-warning-rgb: 246, 194, 62;
    --bs-danger-rgb: 231, 74, 59;
    --bs-light-rgb: 248, 249, 252;
    --bs-dark-rgb: 58, 59, 69;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 133, 135, 150;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #858796;
    --bs-body-bg: #fff;
}

#LoginBtn a{
    color: #f2f2f2;
    text-decoration:none;
}

#LoginBtn a:hover {
   color: blue;
   text-decoration: underline;
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#wrapper {
    display: flex;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .sidebar {
        width: 14rem !important;
    }
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

.p-0 {
    padding: 0 !important;
}


.align-items-start {
    align-items: flex-start !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}



.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff;
}

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

a:focus {
    outline: none;
}

a:hover {
    color: #3e5cb2;
}

.m-0 {
    margin: 0 !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

a {
    color: #4e73df;
    text-decoration: underline;
}



@media (min-width: 768px) {
    .sidebar .sidebar-brand .sidebar-brand-icon i {
        font-size: 2rem;
    }
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
}

.rotate-n-15 {
    transform: rotate(-15deg);
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

hr:not([size]) {
    height: 1px;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.topbar {
    height: 4.375rem;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.scroll-to-top:hover {
    background: #5a5c69;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, .5);
    line-height: 46px;
}

.dropdown .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
}

.animated--grow-in,
.sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-gray-500 {
    color: #b7b9cc !important;
}


.topbar .navbar-search {
    width: 25rem;
}
.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }
  
  .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
  }
  
  .text-gray-600 {
    color: #858796 !important;
  }
  


hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
}

.sidebar .nav-item {
    position: relative;
}

.sidebar-dark .nav-item .nav-link.active,
.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, .75);
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, .8);
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
        font-size: .85rem;
    }
}
/* 
.sidebar .nav-item .nav-link {
    text-align: center;
    padding: .75rem 1rem;
    width: 6.5rem;
    font-size: .65rem;
} */

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
    position: relative;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #3e5cb2;
}

a:focus {
    outline: none;
}

a:hover {
    color: #3e5cb2;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #4e73df;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link i {
        font-size: .85rem;
        margin-right: .25rem;
    }
}


.sidebar .nav-item .nav-link i {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link span {
        display: inline;
    }
}